@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

  

  
 
 



  .logoutbtn:hover{
    cursor: pointer;
    background-color: #490305;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
  }
  .row
  {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: -39%;
  }
  #bloodCards
  {
    margin-right: 5%;
    margin-bottom: 3%;
    width: 40%;
    transition: transform .2s;
    box-shadow: 5px 5px 15px 8px rgb(147, 158, 147);
  }
  #bloodCards:hover
  {
    transform: scale(1.1);
    cursor: pointer;
  }
.bloodimg
{
  float: right;
}
.card-block
{
  margin-top: -20%;
}
.text{
  font-family: 'Mate SC', serif;
  font-size: larger;
  font-weight: bolder;
}
.element
{
  margin-left: 30px;
}