<div class="sidebar-container">
  <ul class="sidebar-navigation">
    <li [routerLink]="['/addDonor']">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <label>Add Donors</label>
    </li>
    <li [routerLink]="['/donorlist']">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <label>Donors</label>
    </li>
    <li [routerLink]="['/userlist']">
      <i class="fa fa-user" aria-hidden="true"></i>
      <label>Users</label>
    </li>
    <li [routerLink]="['/requesthistory']">
      <i class="fa fa-share-square" aria-hidden="true"></i>
      <label>Blood Requests</label>
    </li>
    <li [routerLink]="['/bloodStock']">
      <i class="fa fa-cart-plus" aria-hidden="true"></i>
      <label>Blood stock</label>
    </li>
  </ul>
</div>
